header {
  padding: 154px 0 100px;
}

.killimanjaro-header{
   background:url('filme.png');
}
.bg-light {
    background-color:  #000 !important;
}

@media (min-width: 992px) {
  header {
    padding: 350px 0 100px;
  }
}

section {
  padding: 150px 0;
}
 .footer-bottom{
    background: #343a40!important;
    padding: 40px;
}
footer a {
    color: #f8f9fa!important;
}
.bg-dark {
    background-color: 
    #000!important;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
.text-center {
    text-align: center !important;
}
.container {
    max-width: 1140px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.h2, h2 {
    font-size: 2rem;
    color:#fff;
}
.lead {
    font-size: 2.0rem;
    font-weight: 300;
     color:#000;
    line-height: 1.0;
}
section {
    padding: 25px 0px ;

}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 250;
    line-height: 1.0;
    padding: 20px;
    font-family: URW Chancery L, cursive;
}
.navbar-dark .navbar-brand {
    color: #fff;
}
.lea {
    font-size: 2.0rem;
    font-weight: 300;
     color:#fff;
    line-height: 1.0;
}
.card-deck {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: 15px;
    margin-left: 15px;
    justify-content: center;


}
#p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.0rem;

}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
   justify-content: center;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.0rem;
}