body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f7f7f7;
}
.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
}
.bg-image-full {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.mx-background-top-linear {
    background: -webkit-linear-gradient(45deg, red 48%, #000 48%);
    background: -webkit-linear-gradient(left, red 48%, #000 48%);
    background: linear-gradient(45deg, red 48%, #000 48%);
}
.carousel-caption {
  position: absolute;
  right: 20%;
  bottom: 175px;
  left: 15%;
  z-index: 10;
  padding-top: 50px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
.carousel-item {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.fill-ful {
    height: 100vh;
    min-height: 100px;
}
@media screen and (max-width: 568px){
    .carousel-caption {
        top: 75px!important;
        bottom: 75px!important;
    }
}
.card-line-slide {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1.5;
    padding: 0;
    text-align: center;
}
.heading-section {
    text-align: center;
    padding: 100px 0 80px 0;
}
#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}
#quote-carousel .carousel-control {
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    right: 17%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #ffc107;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.carousel-item blockquote {
    border-left: none;
    margin: 0;
}
.carousel-item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
.img-responsive, .thumbnail>img, 
.thumbnail a>img, 
.carousel-inner>.item>img, 
.carousel-inner>.item>a>img {
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    border-radius: 25px;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #000;
    border: 2px solid #ffffff;
    color: #ffffff;
    transition: all ease-in-out 0.3s;
}
.fa-style-slider {
    margin: 0 auto;
    overflow: visible;
    background-color: transparent;
    border-radius: 50px;
    padding: 15px;
    width: 47px;
    height: auto;
    color: #fff;
    text-align: center;
    font-size: 33px;
}
@media(max-width: 568px){
    .fa-style-slider {
        padding: 10px!important;
    }
}
.margin-blank {
    margin-top: 0px;
}
.btn-default {
    color: #fff;
    background-color: red;
    border-color: red;
    border-radius: 1px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.footer {
    background: #2b2a2a none repeat scroll 0 0;
    border-top: 3px solid #000; 
    margin: 0;
    padding: 20px 0;
    justify-content: center;
}
.footer_dv {
    width: 100%;
}
.footer_dv h4 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align:center;
}
.footer_dv ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align:center;
}
.footer_dv ul li:first-child {
    border-top: medium none;
    box-shadow: none;
}
.footer_dv ul li {
    color: #fff;
    padding: 5px 0;
}
.footer_dv p {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 15px;
    text-align: justify;

}
.a-font {
    color: #fff!important;
    text-decoration: none!important;
}
.h1, h1 {
    font-size: 2.0rem;
   padding: 0px 0px;
    color: #fff;
    font-family:URW Chancery L, cursive;

}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #fff;
}