@import url('https://fonts.googleapis.com/css?family=Montserrat|Playball&display=swap');
#tit{
	font-family: 'Playball', cursive;
}
.box{
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;
	box-shadow: 4px 2px 60px 3px black;
	background-color: ;
}
#tit{
	text-align: center;
	margin: 4px;
	font-family: 'Playball', cursive;
	font-size: 4vw;
	color: white;
}
p{
	font-family: 'Playball', cursive;
	color: white;
	font-size: 2.3vw;
}
button{
	font-family: 'Playball', cursive;
	margin: 50px;
	border-radius: 50px;
}
button:hover{
	background-color: white;
	color: yellow;
}
input:focus{
	color: black;
}
textarea:focus{
	color: black;
}
input{
	border-radius: 50px;
}